#app input {
  font: inherit;
  padding: 0.15rem;
}
#app label {
  font-weight: bold;
  margin-right: 1rem;
  width: 7rem;
  display: inline-block;
}


/* This is a test for the app */
/* And this will be pushed to git branch for testing purpose */
/* Ensures that the branch only is commited 
and not the main*/
#app form div {
  margin: 1rem 0;
}